// @use './styles/root';
@use './styles/' as *;

// :root {
// 	// Radio Button Variables
// 	--radio-checked-color: var(--clr-primary-cyan);
// 	--radio-default-bg-color: var(--clr-neutral-cyanDark);
// 	--radio-hover-color: var(--clr-neutral-seafoam);
// }

body {
	background-color: var(--clr-neutral-cyanSemiLight);
	font-family: var(--ff-primary-text);
	font-weight: var(--fw-bold);
	font-style: normal;

	header {
		padding-top: 3.125rem;
		padding-bottom: 2.5rem;

		.logo {
			margin: 0 auto;
		}
	}

	.calculator {
		padding: 2rem;
		background-color: var(--clr-neutral-white);
		border-radius: 25px 25px 0 0;

		form {
			max-width: 311px;

			.formBlockLabel {
				margin-bottom: 0.375rem;
				font-size: var(--fs-p-16);
				color: var(--clr-neutral-cyanSemiDark);

				&:nth-child(2 of .formBlockLabel) {
					margin-bottom: 1rem;
				}
			}

			.inputLabel {
				position: relative;

				input {
					padding: 0.375rem 1.1875rem;
					margin-bottom: 2rem;
					width: 100%;
					background-color: var(--clr-neutral-cyanLight);
					border: none;
					border-radius: 5px;
					text-align: right;
					font-size: var(--fs-input-24);
					color: var(--clr-neutral-cyanDark);

					&::placeholder {
						color: var(--clr-neutral-cyanMd);
					}
				}
			}

			.inputLabel::before {
				content: '';
				position: absolute;
				left: 19px;
				top: 0;
				bottom: 0;
			}

			#billLabel::before {
				height: 15.46px;
				width: 9.84px;
				background: url('./images/icon-dollar.svg') center / contain no-repeat;
			}

			#countLabel::before {
				height: 16px;
				width: 13px;
				background: url('./images/icon-person.svg') center / contain no-repeat;
			}

			.tipSelections {
				width: 100%;
				margin-bottom: 2rem;
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 48px 48px 48px;
				gap: 1rem;

				label {
					position: relative;
					background-color: var(--radio-default-bg-color);
					border-radius: 5px;

					input[type='radio'] {
						height: 100%;
						width: 100%;
						border-radius: 5px;
						appearance: none;

						&:not(:disabled):checked {
							background-color: var(--radio-checked-color);
							background-clip: content-box;
						}
					}

					span {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						font-size: var(--fs-input-24);
						color: var(--clr-neutral-white);
					}

					&:has(:checked) {
						span {
							color: var(--clr-neutral-cyanDark);
						}
					}
				}

				input[type='number'] {
					width: 100%;
				}

				.disabled {
					input[type='radio'] {
						background-color: var(--radio-default-bg-color);
					}

					span {
						color: var(--clr-neutral-white);
					}
				}
			}
		}
	}
}
