/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove Default Spacing */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.2;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  /* Loop to declare color variables */
  --clr-primary-cyan: hsl(172, 67%, 45%);
  --clr-neutral-cyanDark: hsl(183, 100%, 15%);
  --clr-neutral-cyanSemiDark: hsl(186, 14%, 43%);
  --clr-neutral-cyanMd: hsl(184, 14%, 56%);
  --clr-neutral-cyanSemiLight: hsl(185, 41%, 84%);
  --clr-neutral-cyanLight: hsl(189, 41%, 97%);
  --clr-neutral-seafoam: hsl(173, 61%, 77%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-alert-red: hsl(13, 70%, 61%);
  --clr-btn-disabled: hsl(183, 79%, 24%);
  --clr-shadow-cyan: hsla(186, 38%, 50%, 0.2007);
  --radio-checked-color: var(--clr-primary-cyan);
  --radio-default-bg-color: var(--clr-neutral-cyanDark);
  --radio-hover-color: var(--clr-neutral-seafoam);
  /* Loop to declare font family variables */
  --ff-primary-text: 'Space Mono', monospace;
  /* Loop to declare font size variables */
  --fs-btn-20: 1.25rem;
  --fs-input-24: 1.5rem;
  --fs-output-32: 2rem;
  --fs-output-48: 3rem;
  --fs-p-13: 0.8125rem;
  --fs-p-16: 1rem;
  /* Loop to declare font weight variables */
  --fw-bold: 700;
}

body {
  background-color: var(--clr-neutral-cyanSemiLight);
  font-family: var(--ff-primary-text);
  font-weight: var(--fw-bold);
  font-style: normal;
}
body header {
  padding-top: 3.125rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 59.5em) {
  body header {
    padding-top: 10.1875rem;
    padding-bottom: 5.5rem;
  }
}
body header .logo {
  margin: 0 auto;
}
body .calculator {
  padding: 2rem;
  margin: 0 auto;
  max-width: 375px;
  background-color: var(--clr-neutral-white);
  border-radius: 25px 25px 0 0;
}
@media (min-width: 59.5em) {
  body .calculator {
    padding: 2rem 2rem 2rem 3rem;
    max-width: 920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    border-radius: 25px;
    box-shadow: 0 32px 43px var(--clr-shadow-cyan);
  }
}
body .calculator form {
  max-width: 311px;
}
@media (min-width: 59.5em) {
  body .calculator form {
    max-width: 379px;
  }
}
body .calculator form .formBlockLabel {
  margin-bottom: 0.375rem;
  font-size: var(--fs-p-16);
  color: var(--clr-neutral-cyanSemiDark);
}
body .calculator form .formBlockLabel:nth-child(2 of .formBlockLabel) {
  margin-bottom: 1rem;
}
body .calculator form .inputLabel {
  position: relative;
}
body .calculator form .inputLabel input[type=number] {
  padding: 0.375rem 1.1875rem;
  margin-bottom: 2rem;
  width: 100%;
  background-color: var(--clr-neutral-cyanLight);
  border: none;
  border-radius: 5px;
  text-align: right;
  font-size: var(--fs-input-24);
  color: var(--clr-neutral-cyanDark);
  outline: none;
  caret-color: var(--clr-primary-cyan);
}
@media (min-width: 59.5em) {
  body .calculator form .inputLabel input[type=number] {
    margin-bottom: 2.5rem;
  }
}
body .calculator form .inputLabel input[type=number]::-webkit-inner-spin-button, body .calculator form .inputLabel input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
body .calculator form .inputLabel input[type=number]::-moz-placeholder {
  color: var(--clr-neutral-cyanMd);
}
body .calculator form .inputLabel input[type=number]::placeholder {
  color: var(--clr-neutral-cyanMd);
}
body .calculator form .inputLabel input[type=number]:focus {
  outline: 2px solid var(--clr-primary-cyan);
  outline-offset: -2px;
}
body .calculator form .inputLabel::before {
  content: "";
  position: absolute;
  left: 19px;
  top: 0;
  bottom: 0;
}
body .calculator form #billLabel::before {
  height: 15.46px;
  width: 9.84px;
  background: url("./images/icon-dollar.svg") center/contain no-repeat;
}
@media (min-width: 59.5em) {
  body .calculator form #countLabel input[type=number] {
    margin-bottom: 0;
  }
}
body .calculator form #countLabel::before {
  height: 16px;
  width: 13px;
  background: url("./images/icon-person.svg") center/contain no-repeat;
}
body .calculator form .tipSelections {
  width: 100%;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px 48px 48px;
  gap: 1rem;
}
@media (min-width: 59.5em) {
  body .calculator form .tipSelections {
    margin-bottom: 2.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 48px 48px;
  }
}
body .calculator form .tipSelections label:not(:last-child) {
  position: relative;
  background-color: var(--radio-default-bg-color);
  border-radius: 5px;
}
body .calculator form .tipSelections label:not(:last-child) input[type=radio] {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
body .calculator form .tipSelections label:not(:last-child) input[type=radio]:not(:disabled):checked {
  background-color: var(--radio-checked-color);
  background-clip: content-box;
}
body .calculator form .tipSelections label:not(:last-child) span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--fs-input-24);
  color: var(--clr-neutral-white);
}
body .calculator form .tipSelections label:not(:last-child):hover,
body .calculator form .tipSelections label:not(:last-child) input:hover {
  background-color: var(--clr-neutral-seafoam);
}
body .calculator form .tipSelections label:not(:last-child):hover > span,
body .calculator form .tipSelections label:not(:last-child) input:hover > span {
  color: var(--clr-neutral-cyanDark);
}
body .calculator form .tipSelections label:not(:last-child):has(:checked) span {
  color: var(--clr-neutral-cyanDark);
}
body .calculator form .tipSelections input[type=number] {
  margin-bottom: 0;
}
@media (min-width: 59.5em) {
  body .calculator form .tipSelections input[type=number] {
    padding: 0.375rem 0.875rem;
  }
}
body .calculator form .tipSelections input[type=number]::-moz-placeholder {
  color: var(--clr-neutral-cyanSemiDark);
}
body .calculator form .tipSelections input[type=number]::placeholder {
  color: var(--clr-neutral-cyanSemiDark);
}
body .calculator form .tipSelections .disabled input[type=radio] {
  background-color: var(--radio-default-bg-color);
}
body .calculator form .tipSelections .disabled span {
  color: var(--clr-neutral-white);
}
body .calculator .outputWrapper {
  padding: 2.3125rem 1.5rem 1.5rem;
  border-radius: 15px;
  background-color: var(--clr-neutral-cyanDark);
}
@media (min-width: 59.5em) {
  body .calculator .outputWrapper {
    width: 100%;
    max-width: 413px;
    padding: 2.5rem;
  }
}
body .calculator .outputWrapper .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .calculator .outputWrapper .details:first-child {
  margin-bottom: 1.5rem;
}
@media (min-width: 59.5em) {
  body .calculator .outputWrapper .details:first-child {
    margin-bottom: 2rem;
  }
}
body .calculator .outputWrapper .details:nth-child(2) {
  margin-bottom: 2rem;
}
@media (min-width: 59.5em) {
  body .calculator .outputWrapper .details:nth-child(2) {
    margin-bottom: 7.625rem;
  }
}
body .calculator .outputWrapper .details .description .outputLabel {
  font-size: var(--fs-p-16);
  color: var(--clr-neutral-white);
  text-transform: capitalize;
}
body .calculator .outputWrapper .details .description p {
  font-size: var(--fs-p-13);
  color: var(--clr-neutral-cyanMd);
}
body .calculator .outputWrapper .details .costBreakdown p {
  font-size: var(--fs-output-32);
  color: var(--clr-primary-cyan);
  letter-spacing: -0.67px;
}
@media (min-width: 59.5em) {
  body .calculator .outputWrapper .details .costBreakdown p {
    font-size: var(--fs-output-48);
  }
}
body .calculator .outputWrapper button {
  height: 48px;
  width: 100%;
  background-color: var(--clr-btn-disabled);
  border: none;
  border-radius: 5px;
  font-size: var(--fs-btn-20);
  color: var(--clr-neutral-cyanDark);
  text-transform: uppercase;
}
body .calculator label:hover,
body .calculator input:hover,
body .calculator button:hover {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */