// ----- Colors -----

$colors: (
	primary: (
		'cyan': hsl(172, 67%, 45%)
	),
	neutral: (
		'cyanDark': hsl(183, 100%, 15%),
		'cyanSemiDark': hsl(186, 14%, 43%),
		'cyanMd': hsl(184, 14%, 56%),
		'cyanSemiLight': hsl(185, 41%, 84%),
		'cyanLight': hsl(189, 41%, 97%),
		'seafoam': hsl(173, 61%, 77%),
		'white': hsl(0, 0%, 100%)
	),
	alert: (
		'red': hsl(13, 70%, 61%)
	),
	btn: (
		'disabled': hsl(183, 79%, 24%)
	)
);

// ----- Typography -----

$font-families: (
	primary: (
		text: "'Space Mono', monospace"
	)
);

$font-sizes: (
	btn: (
		20: 1.25rem
	),
	input: (
		24: 1.5rem
	),
	output: (
		32: 2rem,
		48: 3rem
	),
	p: (
		13: 0.8125rem,
		16: 1rem
	)
);

$font-weights: (
	bold: 700
);
